In [1]:
%%bash

# Create a BigQuery dataset for babyweight if it doesn't exist
datasetexists=$(bq ls -d | grep -w forecast)

if [ -n "$datasetexists" ]; then
    echo -e "BigQuery dataset already exists!"

else
    echo "Creating BigQuery dataset titled: forecast"
    
    bq --location=US mk --dataset \
        --description "chicago taxi trip data" \
        $PROJECT:forecast
    echo "Here are your current datasets:"
    bq ls
fi

Creating BigQuery dataset titled: forecast
Dataset 'gcp-poc-346506:forecast' successfully created.
Here are your current datasets:
        datasetId
 ------------------------
  chicagotaxitrips
  forecast
  nyc_bike_share
  timeseries
  timeseries_forecasting
  vertex_automl1

In [7]:
%%bigquery 

SELECT
    *
FROM
    `bigquery-public-data.iowa_liquor_sales.sales`
LIMIT 20

,invoice_and_item_number,date,store_number,store_name,address,city,zip_code,store_location,county_number,county,...,item_number,item_description,pack,bottle_volume_ml,state_bottle_cost,state_bottle_retail,bottles_sold,sale_dollars,volume_sold_liters,volume_sold_gallons
0,S06314200010,2012-06-28,2567,Hy-Vee Drugstore / Davenport,2200 WEST KIMBERLY,DAVENPORT,52806,POINT (-90.608201 41.560663),82,Scott,...,36908,Mccormick Vodka Pet,6,1750,7.46,11.19,60,671.40,105.00,27.74
1,S16437900117,2013-12-21,2651,Hy-Vee / Waverly,1311 4 STREET SW,WAVERLY,50677,POINT (-92.475403 42.712263),9,Bremer,...,67527,Kahlua Coffee Liqueur,12,1000,15.25,22.87,4,91.48,4.00,1.06
2,INV-30460400026,2020-09-23,2190,"Central City Liquor, Inc.",1460 2ND AVE,Des Moines,50314.0,POINT (-93.619787 41.60566),77,POLK,...,67524,Kahlua Coffee,24,375,6.49,9.74,1,9.74,0.37,0.09
3,INV-30501200139,2020-09-24,4129,Cyclone Liquors,626 Lincoln Way,Ames,50010.0,POINT (-93.618911 42.022854),85,STORY,...,67527,Kahlua Coffee,12,1000,15.15,22.73,2,45.46,2.00,0.52
4,S11176500041,2013-03-19,2607,Hy-Vee Wine and Spirits / Shenandoah,520 SO FREMONT,SHENANDOAH,51601,POINT (-95.385111 40.761736),73,Page,...,54444,Paramount Apricot Flavored Brandy,24,375,3.54,5.31,5,26.55,1.88,0.50
5,S28047700025,2015-09-22,3056,Clarion Super Valu Ii,325 CENTRAL AVE W,CLARION,50525,POINT (-93.735875 42.731643),99,Wright,...,55087,Paramount Blackberry Brandy,12,1000,6.53,9.80,4,39.20,4.00,1.06
6,INV-22549300037,2019-10-15,2651,Hy-Vee / Waverly,1311 4 Street SW,Waverly,50677,POINT (-92.475403 42.712263),9,BREMER,...,33717,Paramount Sloe Gin,12,1000,5.42,8.13,2,16.26,2.00,0.52
7,INV-22572600008,2019-10-16,2673,Hy-Vee # 6/ Des Moines,420 Court Ave,Des Moines,50309,POINT (-93.62245400000002 41.584842),77,POLK,...,27025,Bulleit 95 Rye,12,750,16.50,24.75,120,2970.00,90.00,23.77
8,INV-18805600001,2019-04-16,2623,Hy-Vee Food Store #4 / Sioux City,2827 Hamilton Blvd,Sioux City,51104,POINT (-96.417783 42.519886),97,WOODBURY,...,77487,Tortilla Gold Dss,12,1000,4.85,7.28,120,873.60,120.00,31.70
9,INV-18911400005,2019-04-22,5241,BP / Dubuque,"1450, Loras Blvd",Dubuque,52001,POINT (-90.687255 42.500724),48,Iowa,...,67522,Kahlua Coffee Mini,12,500,6.60,9.90,4,39.60,2.00,0.52
10,S24716400016,2015-03-25,3973,Mmdg Spirits / Ames,126A WELCH AVE,AMES,50014,POINT (-93.650131 42.021789),85,Story,...,82607,Dekuyper Sour Apple,12,1000,7.62,11.43,10,114.30,10.00,2.64
11,INV-33102700013,2020-12-29,4312,I-80 Liquor / Council Bluffs,2411 S 24TH ST #1,Council Bluffs,51501.0,POINT (-95.8792 41.238092),78,POTTAWATTA,...,86251,Juarez Triple Sec,12,1000,2.42,3.63,48,174.24,48.00,12.68
12,INV-40755600019,2021-10-06,5293,The Boonedocks,"228, N Hwy 71",Arnolds Park,51331.0,POINT (-95.125928 43.370941),30,DICKINSON,...,65127,Grand Marnier Cordon Rouge,6,1000,25.55,38.33,2,76.66,2.00,0.52
13,INV-00009500004,2016-08-29,4562,Casey's General Store #2989 / Mechanicsville,206 Short St,Mechanicsville,52306,None,16,CEDAR,...,36904,Mccormick Vodka Pet,24,375,1.80,2.70,1,64.80,0.37,0.09
14,INV-00013900005,2016-08-29,3805,Washington Street Mini Mart,1601 Washington St,Davenport,52084,POINT (-90.665741 42.508947),82,Scott,...,36904,Mccormick Vodka Pet,24,375,1.80,2.70,3,64.80,1.12,0.29
15,INV-00048100010,2016-08-31,2669,Hy-Vee / Corydon,"103, E Jackson St",Corydon,50060,POINT (-93.318046 40.75842),93,WAYNE,...,36308,Hawkeye Vodka,6,1750,7.17,10.76,4,64.56,7.00,1.84
16,INV-00073600028,2016-08-31,4177,"Good Luck, Inc.",806 W Main St,Le Grand,50142,POINT (-92.78465400000002 42.006665),64,MARSHALL,...,35914,Five O'clock Vodka,24,375,1.93,2.90,7,2.90,2.62,0.69
17,INV-26556300144,2020-04-14,2643,Hy-Vee Wine and Spirits / Waterloo,2126 Kimball Ave,Waterloo,50701.0,None,7,BLACK HAWK,...,67527,Kahlua Coffee,12,1000,15.15,22.73,4,90.92,4.00,1.05
18,INV-26677900037,2020-04-20,2628,Hy-Vee Food Store / Eldora,1616 Edgington,Eldora,50627.0,POINT (-93.103764 42.360631),42,HARDIN,...,67527,Kahlua Coffee,12,1000,15.15,22.73,2,45.46,2.00,0.52
19,S08581700018,2012-10-25,4025,Karam Kaur Khasriya Llc,702 13TH ST,BELLE PLAINE,52208,POINT (-92.277759 41.897052),6,Benton,...,52314,Christian Bros Brandy,24,375,2.93,4.40,5,22.00,1.88,0.50

In [9]:
%%bigquery

SELECT
    date,
    SUM(volume_sold_liters) total_sold_liters
FROM
    `bigquery-public-data.iowa_liquor_sales.sales`
WHERE
    EXTRACT (year from date) = 2020 OR EXTRACT (year from date) = 2021
    GROUP BY date
LIMIT 10;

         date  total_sold_liters
0  2020-09-25           97184.65
1  2021-10-12          111222.15
2  2021-07-07          145426.53
3  2021-04-06           85030.68
4  2020-02-03           89810.99
5  2020-04-21          100685.13
6  2021-07-12           73837.71
7  2021-07-16           72537.48
8  2021-07-15           76630.82
9  2020-10-02           96777.36

In [2]:
%%bigquery

CREATE TABLE `gcp-poc-346506.forecast.wines` as
SELECT
    date,
    SUM(volume_sold_liters) total_sold_liters
FROM
    `bigquery-public-data.iowa_liquor_sales.sales`
WHERE
    EXTRACT (year from date) = 2020 OR EXTRACT (year from date) = 2021
    GROUP BY date;

Empty DataFrame
Columns: []
Index: []

In [3]:
%%bigquery

CREATE OR REPLACE MODEL `gcp-poc-346506.forecast.wine_model`
OPTIONS
    (
        model_type = 'ARIMA',
        time_series_timestamp_col = 'date',
        time_series_data_col = 'total_sold_liters',
        auto_arima = TRUE,
        data_frequency = 'AUTO_FREQUENCY'
    ) 
AS 
SELECT * FROM `gcp-poc-346506.forecast.wines`;

Empty DataFrame
Columns: []
Index: []

In [4]:
%%bigquery

SELECT
    *
FROM
    ML.TRAINING_INFO(MODEL `gcp-poc-346506.forecast.wine_model`)

   training_run  iteration  duration_ms
0             0          0         3778

In [6]:
%%bigquery

SELECT * FROM ML.EVALUATE(MODEL `gcp-poc-346506.forecast.wine_model`);

,non_seasonal_p,non_seasonal_d,non_seasonal_q,has_drift,log_likelihood,AIC,variance,seasonal_periods
0,0,1,5,False,-7933.962921,15879.925841,1.649923e+08,[WEEKLY]
1,0,1,5,True,-7934.108060,15882.216119,1.650628e+08,[WEEKLY]
2,3,1,1,False,-7954.162913,15918.325825,1.752915e+08,[WEEKLY]
3,1,1,4,True,-7952.991356,15919.982713,1.747242e+08,[WEEKLY]
4,3,1,1,True,-7954.363669,15920.727337,1.753820e+08,[WEEKLY]
5,2,1,3,False,-7954.966604,15921.933209,1.756744e+08,[WEEKLY]
6,3,1,2,False,-7955.120341,15922.240682,1.757609e+08,[WEEKLY]
7,2,1,3,True,-7955.053921,15924.107842,1.757267e+08,[WEEKLY]
8,3,1,2,True,-7955.402447,15924.804893,1.759133e+08,[WEEKLY]
9,1,1,1,False,-7960.083049,15926.166098,1.781880e+08,[WEEKLY]
10,1,1,3,False,-7958.560729,15927.121458,1.774457e+08,[WEEKLY]
11,2,1,1,False,-7959.904235,15927.808471,1.780971e+08,[WEEKLY]
12,1,1,1,True,-7960.015815,15928.031629,1.781524e+08,[WEEKLY]
13,1,1,2,False,-7960.450016,15928.900031,1.783837e+08,[WEEKLY]
14,0,1,4,False,-7959.502162,15929.004323,1.779166e+08,[WEEKLY]
15,1,1,2,True,-7959.636341,15929.272683,1.779618e+08,[WEEKLY]
16,2,1,2,False,-7959.711493,15929.422986,1.780103e+08,[WEEKLY]
17,2,1,1,True,-7960.039723,15930.079447,1.781675e+08,[WEEKLY]
18,0,1,4,True,-7959.608829,15931.217659,1.779732e+08,[WEEKLY]
19,2,1,2,True,-7959.841056,15931.682113,1.780721e+08,[WEEKLY]
20,1,1,4,False,-7960.329747,15932.659494,1.783259e+08,[WEEKLY]
21,0,1,3,False,-7962.939729,15933.879459,1.796248e+08,[WEEKLY]
22,0,1,2,False,-7964.319017,15934.638034,1.803291e+08,[WEEKLY]
23,0,1,3,True,-7963.013626,15936.027252,1.796634e+08,[WEEKLY]
24,0,1,2,True,-7964.363984,15936.727968,1.803561e+08,[WEEKLY]
25,1,1,3,True,-7963.818341,15939.636682,1.800749e+08,[WEEKLY]
26,4,1,0,False,-7978.849238,15967.698476,1.878807e+08,[WEEKLY]
27,5,1,0,False,-7978.586447,15969.172893,1.877444e+08,[WEEKLY]
28,4,1,1,False,-7978.748314,15969.496628,1.878284e+08,[WEEKLY]
29,4,1,0,True,-7978.845423,15969.690845,1.878787e+08,[WEEKLY]
30,5,1,0,True,-7978.582673,15971.165347,1.877424e+08,[WEEKLY]
31,4,1,1,True,-7978.746247,15971.492494,1.878274e+08,[WEEKLY]
32,0,1,1,False,-7988.945308,15981.890615,1.931411e+08,[WEEKLY]
33,3,1,0,False,-7987.101961,15982.203922,1.922071e+08,[WEEKLY]
34,0,1,1,True,-7988.941457,15983.882914,1.931391e+08,[WEEKLY]
35,3,1,0,True,-7987.098528,15984.197056,1.922052e+08,[WEEKLY]
36,2,1,0,False,-7996.480654,15998.961309,1.972377e+08,[WEEKLY]
37,2,1,0,True,-7996.477829,16000.955659,1.972361e+08,[WEEKLY]
38,1,1,0,False,-8033.722497,16071.444994,2.185165e+08,[WEEKLY]
39,1,1,0,True,-8033.720135,16073.440270,2.185152e+08,[WEEKLY]
40,0,1,0,False,-8071.386608,16144.773216,2.423382e+08,[WEEKLY]
41,0,1,0,True,-8071.385807,16146.771614,2.423377e+08,[WEEKLY]

In [5]:
%%bigquery

SELECT * FROM
ML.FORECAST(MODEL `gcp-poc-346506.forecast.wine_model`, 
STRUCT(30 AS horizon, 0.8 AS confidence_level));

,forecast_timestamp,forecast_value,standard_error,confidence_level,prediction_interval_lower_bound,prediction_interval_upper_bound,confidence_interval_lower_bound,confidence_interval_upper_bound
0,2022-01-01 00:00:00+00:00,33565.875370,12844.931924,0.8,17094.990721,50036.760019,17094.990721,50036.760019
1,2022-01-02 00:00:00+00:00,54773.934824,13442.213389,0.8,37537.164129,72010.705519,37537.164129,72010.705519
2,2022-01-03 00:00:00+00:00,80323.985412,13473.597749,0.8,63046.970971,97600.999852,63046.970971,97600.999852
3,2022-01-04 00:00:00+00:00,96847.479045,15438.558595,0.8,77050.821556,116644.136534,77050.821556,116644.136534
4,2022-01-05 00:00:00+00:00,107304.657303,17901.053014,0.8,84350.376111,130258.938495,84350.376111,130258.938495
5,2022-01-06 00:00:00+00:00,103771.987969,17917.516123,0.8,80796.596351,126747.379588,80796.596351,126747.379588
6,2022-01-07 00:00:00+00:00,95949.283244,17933.964120,0.8,72952.800579,118945.765909,72952.800579,118945.765909
7,2022-01-08 00:00:00+00:00,42045.760141,17950.397046,0.8,19028.205755,65063.314527,19028.205755,65063.314527
8,2022-01-09 00:00:00+00:00,60803.931539,17966.814941,0.8,37765.324705,83842.538373,37765.324705,83842.538373
9,2022-01-10 00:00:00+00:00,88179.063493,17983.217848,0.8,65119.423430,111238.703555,65119.423430,111238.703555
10,2022-01-11 00:00:00+00:00,107212.448318,17999.605807,0.8,84131.794195,130293.102442,84131.794195,130293.102442
11,2022-01-12 00:00:00+00:00,107476.386079,18015.978859,0.8,84374.737010,130578.035148,84374.737010,130578.035148
12,2022-01-13 00:00:00+00:00,104060.333290,18032.337044,0.8,80937.708339,127182.958242,80937.708339,127182.958242
13,2022-01-14 00:00:00+00:00,96014.663554,18048.680403,0.8,72871.081731,119158.245377,72871.081731,119158.245377
14,2022-01-15 00:00:00+00:00,41601.048766,18065.008977,0.8,18436.529031,64765.568500,18436.529031,64765.568500
15,2022-01-16 00:00:00+00:00,60542.655800,18081.322805,0.8,37357.217062,83728.094539,37357.217062,83728.094539
16,2022-01-17 00:00:00+00:00,88184.919163,18097.621927,0.8,64978.580278,111391.258048,64978.580278,111391.258048
17,2022-01-18 00:00:00+00:00,107374.311282,18113.906383,0.8,84147.091057,130601.531507,84147.091057,130601.531507
18,2022-01-19 00:00:00+00:00,107648.114855,18130.176212,0.8,84400.032046,130896.197665,84400.032046,130896.197665
19,2022-01-20 00:00:00+00:00,104348.678611,18146.431454,0.8,81079.751921,127617.605300,81079.751921,127617.605300
20,2022-01-21 00:00:00+00:00,96080.043865,18162.672148,0.8,72790.291951,119369.795779,72790.291951,119369.795779
21,2022-01-22 00:00:00+00:00,41156.337390,18178.898333,0.8,17845.778856,64466.895924,17845.778856,64466.895924
22,2022-01-23 00:00:00+00:00,60281.380061,18195.110047,0.8,36950.033462,83612.726661,36950.033462,83612.726661
23,2022-01-24 00:00:00+00:00,88190.774834,18211.307330,0.8,64838.658676,111542.890992,64838.658676,111542.890992
24,2022-01-25 00:00:00+00:00,107536.174246,18227.490219,0.8,84163.306984,130909.041507,84163.306984,130909.041507
25,2022-01-26 00:00:00+00:00,107819.843632,18243.658754,0.8,84426.243674,131213.443589,84426.243674,131213.443589
26,2022-01-27 00:00:00+00:00,104637.023931,18259.812972,0.8,81222.709636,128051.338227,81222.709636,128051.338227
27,2022-01-28 00:00:00+00:00,96145.424175,18275.952911,0.8,72710.413852,119580.434499,72710.413852,119580.434499
28,2022-01-29 00:00:00+00:00,40711.626014,18292.078609,0.8,17255.937924,64167.314105,17255.937924,64167.314105
29,2022-01-30 00:00:00+00:00,60020.104323,18308.190104,0.8,36543.756678,83496.451968,36543.756678,83496.451968